Options -Indexes -Includes

<FilesMatch "\.(php|pl|py|jsp|asp|htm|shtml|sh|cgi|php4|php5|js)$">
  Deny from All
</FilesMatch>

<Files __aspito.php>
  Allow from All
</Files>

#FICHEROS COMPRIMIDOS CON GZIP ---------------------

<FilesMatch "\\.css.gz$">
  ForceType text/css
  Header set Content-Encoding: gzip
</FilesMatch>

<FilesMatch "\\.css$">
  RewriteEngine On
  RewriteCond %{HTTP_USER_AGENT} !".*Safari.*"
  RewriteCond %{HTTP:Accept-Encoding} gzip
  RewriteCond %{REQUEST_FILENAME}.gz -f
  RewriteRule (.*)\.css$ $1\.css.gz [L]
  ForceType text/css
</FilesMatch>
