# -------------------------------------------------------------
# The files you want to include MUST have a '+' in the begining
# -------------------------------------------------------------

+ 'jquery.zclip.min.js'
+ "colz.class.min.js"
+ 'sonata-class.js'
+ 'rgb.to.js'
+ 'jquery.placeholder.min.js'
+ 'fancybox/jquery.fancybox-1.3.4.js'
+ ready.js
